{% extends "base.html" %}

{% block titulo %}
    <h1 style="text-align: center;">Acerda de nosotros</h1>
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="card mb-3" style="max-width: 100%;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../media/WhatsApp Image 2022-07-05 at 4.16.14 PM.jpeg" >
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Maxi Romani</h5>
              <p class="card-text">Soy Maxi Romani tengo 36 años y actualmente trabajo en la parte de post-venta on line de la cadena de supermercados La Anonima.
                Me intereso hacer el curso porque siempre me dio intriga el mundo de la programacion y actualmente estoy con ganas de empezar a hacer algo nuevo y me parecio una buena oportunidad.
                Un amigo que trabaja de back-end me recomendo el idioma python y por eso decidi anotarme y la verdad es que me gusto mucho y le encuentro mucha utilidad.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 100%;">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Maximiliano Rivera Miño</h5>
              <p class="card-text">Mi nombre es Maximiliano Rivera Miño. Tengo 32 años hace 10 años trabajo en el área de networking lo que me llevo a ser miembro de varios NOC's de empresas de Telecomunicaciones. Actualmente me encuentro en la parte de Networking para el banco JP Morgan.
                Elegí Coderhouse para estudiar Python ya que me hablaron muy bien de los cursos que se ofrecen en la plataforma. Mi interes por aprender este lenguaje surge de las ganas de adquirir nuevas herramientas y mantenerme actualizado en un área en constante cambios. Sumar networking con programación espero que me abra las puertas a nuevos desafíos como el de automatizar procesos dentro del área.</p>
            </div>
          </div>
          <div class="col-md-4">
            <img style="max-width: 270px;float:right" class="img-fluid" src="../media/WhatsApp Image 2022-07-05 at 4.59.48 PM.jpeg" >
          </div>
        </div>
      </div> 
      <div class="card mb-3" style="max-width: 100%;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img style="max-width: 270px" src="../media/1643644588655.jpg" >
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Mateo Algañaras</h5>
              <p class="card-text">Soy Mateo Algañaras, tengo 23 años y comence aprendiendo programacion por mi cuenta con la informacion que encontraba navegando por Internet.
                Decidi dar el salto a hacer la carrera de desarrollo full stack en Coderhouse, la cual todavia sigo cursando y me encuentro en la etapa de Javascript. Al tener una grata experiencia con la plataforma, me intereso ampliar mis conocimientos y decidi en paralelo comenzar el curso de Python el cual disfrute y gusto mucho. El dia de mañana me gustaria ejercer en algo relacionado a la programacion.</p>
            </div>
          </div>
        </div>
      </div>
</div> 
{% endblock %}