{% extends "base.html" %}

{% block titulo %}
    <h1 style="text-align:center">Comentarios</h1>
{% endblock %}

{% block contenido %}
  {% for descripciones in descripcion %}
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
     <div class="card-header">{{descripciones.usuario.nombre}}</div>
      <div class="card-body">
       <p class="card-text">{{descripciones.comentario}}</p>
       <p><i class="fa-solid fa-star"></i> {{descripciones.puntuacion}}</p>
     </div>
    </div>
  {% endfor %} 
{% endblock %}

