{% extends "base.html" %}

{% block titulo %}
{% for modificacion in modificacionesinicio %}
<div class="container-fluid" style="text-align: center; background-image:url('{{modificacion.banner.url}}')">
    <h1 style="color:white">{{modificacion.titulo}}</h1>
    <p style="color:white">{{modificacion.descripcion}}</p>
    <img class="img-fluid" src="{{modificacion.banner.url}}">
  </div>
    {% endfor %}
{% endblock %}

{% block contenido %}
 {{errors}}
 {% for product in productos %}
  {% if product.stock == True %}

  <div class="card" style="width: 18rem">
    <img src="{{product.imagen.url}}" class="card-img-top" >
    <div class="card-body">
      <h5 class="card-title">{{product.nombre}}</h5>
      <p class="card-text">${{product.precio}}</p>
      <p class="card-text">{{product.sku}}</p>
    {% if request.user.is_authenticated and request.user.is_superuser %}
        <a href="/detalle-productos/{{product.id}}/" class="btn btn-primary">Detalle</a>
      {% else %}
        <a href="#" class="btn btn-primary">Comprar</a>
    {% endif %}
    </div>
  </div>
  {% endif %}
 {% endfor %}
{% endblock %}
  
{% block contenido2 %}
<div class="section" style="margin-bottom:5rem">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        {% for descripciones in descripcion %}
        <div class="media-list">
          <div>
            <img class="rounded-circle" style="width: 40px;" src="{{descripciones.imagen}}">
            <div class="media-body">
              <div class="d-flex small">
                 <b>{{descripciones.usuario}}</b>
                 <div style="margin-left: 1rem;"><i class="fa-solid fa-star"></i>{{descripciones.puntuacion}}</div>
              </div>
              <p>{{descripciones.comentario}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
        {% if form %}
        <form action="" method="POST">
          {% csrf_token %}
          <div class="form-group">
              {{form}}
          </div>
          <button class="btn btn-primary btn-block" type="submit">Comentar</button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>
 
{% endblock %}

{% block titulo2 %}
    <h2 id="comentarios" style="text-align:center">Dejar un comentario</h2>
{% endblock %}



