{% extends "base.html" %}

{% block titulo %}
<h1 style="text-align: center">Crear usuario</h1>
{% endblock %}

{% block contenido %}
    
{% if form %}
    <form action="" method="POST">
      {% csrf_token %}
      <table>
          {{form.as_table}}
      </table>
      <input class="btn btn-primary" type="submit", value="Crear">
    </form>
{% elif nuevo_usuario %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{nuevo_usuario.nombre}}</h5>
          <p class="card-text">Edad: {{nuevo_usuario.edad}}</p>
          <p class="card-text">Alta: {{nuevo_usuario.fecha_alta}}</p>
          <p class="card-text">DNI: {{nuevo_usuario.DNI}}</p>
        </div>
      </div>

{% endif %}

{% endblock %}