{% extends "base.html" %}

{% block titulo %}
<h1 style="text-align: center">Crear comentario</h1>
{% endblock %}

{% block contenido %}
    
{% if form %}
    <form action="" method="POST">
      {% csrf_token %}
      <table>
          {{form.as_table}}
      </table>
      <input class="btn btn-primary" type="submit", value="Crear">
    </form>
{% elif nuevo_descripcion %}
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">{{nuevo_descripcion.id}}</div>
         <div class="card-body">
          <p class="card-text">{{nuevo_descripcion.comentario}}</p>
          <p><i class="fa-solid fa-star"></i> {{nuevo_descripcion.puntuacion}}</p>
        </div>
       </div>

{% endif %}

{% endblock %}

