{% extends "base.html" %}

{% block titulo %}
    <h1 style="text-align:center">Usuarios</h1>
{% endblock %}


{% block contenido %}
 {% if request.user.is_authenticated and request.user.is_superuser %}
 {% for usuario in usuario_perfil %}
    <div class="card" style="width: 18rem;">
      <img src="{{usuario.imagen.url}}" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">{{usuario.usuario}}</h5>
          <p class="card-text">Telefono: {{usuario.telefono}}</p>
        <a href="/detalle-usuario-perfil/{{usuario.id}}/" class="btn btn-primary">Detalle</a>
        </div>
      </div>
  {% endfor %}
 {% endif %}
{% endblock %}